	h1{
		font-size: 30px;
	}
	h1 span{
		font-size: 26px;
	}

	
	#text{
		font-size: 35px;
	}
	.space{
		padding: 10px;
	}
	#pendu{
		height: 400px;
		background:grey;
	}
	#pendu{
		margin-top: 40px;
	}
	#alphabet, #text{
		margin-top: 60px;
	}
	.lose{
		background: #ef5350;
		color: #fff;
		font-size: 24px;
	}
	.win{
		background: #66bb6a;
		color: #fff;
		font-size: 24px;
	}

	/*	 PENDU 	*/
	#pendu{
		position: relative;
	}

	#pendu div{
		position: absolute;
		background: #fff;
	}

	.pendu-0, .pendu-2, .pendu-3, .pendu-4, .pendu-5, .pendu-6{
		width: 5px;
	}
	.pendu-0, .pendu-1, .pendu-3, .pendu-4, .pendu-5, .pendu-6{
		height: 50px;
	}
	.pendu-3, .pendu-4{
		top: 110px;
	}
	.pendu-5, .pendu-6{
		top: 200px;
	}
	.pendu-3, .pendu-5{
		transform: rotate(50deg);
	}
	.pendu-4, .pendu-6{
		transform: rotate(-50deg);
	}
	.pendu-0, .pendu-2{
		right: 50%;
	}
	.pendu-3, .pendu-5{
		right: calc(50% + 20px);
	}
	.pendu-4, .pendu-6{
		left: calc(50% + 15px);
	}
	.pendu-1{
		width: 50px;
		right: calc(50% - 23px);
		border-radius: 25px;
		top: 50px;
	}
	.pendu-2{
		height: 210px;
	}